@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato-regular";
}

.swiper__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  height: fit-content;
}

.swiper {
  grid-column: 1/4;
  grid-row: 1;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.swiper__slide {
  background: #fff;
  font-size: 18px;
  text-align: center;
}

.swiper__button {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: relative;
  transition: all 1s;
  visibility: hidden;
  width: 3.5rem;
  z-index: 2;
}

.swiper__button svg {
  transition: all 0.5s;
}

.button__next {
  grid-column: 3;
  grid-row: 1;
  margin-left: auto;
  vertical-align: middle;
}

.button__prev {
  grid-column: 1;
  grid-row: 1;
  vertical-align: middle;
}
.button__disabled {
  display: none;
  transition: all 0.5s;
}

.swiper__button:hover svg {
  transition: all 0.5s;
}

.swiper__container:hover > .swiper__button {
  background-color: rgba(255, 255, 255, .8);
  opacity: 1;
  transition: all 0.8s;
  visibility: visible;
}

.dark .swiper__container:hover > .swiper__button {
  background-color: rgba(32, 33, 36, .8);
  opacity: 1;
  transition: all 0.8s;
  visibility: visible;
}

.swiper-container:hover > .swiper__button svg {
  transition: all 1s;
  stroke: black;
}

.dark .swiper-container:hover > .swiper__button svg {
  transition: all 1s;
  stroke: white;
}

@media only screen and (max-width: 700px) {
  .swiper__slide {
    height: 170px;
  }
  .swiper__button {
    display: none;
  }
}

@font-face {
  font-family: "lato-regular";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/Lato-Regular.ttf") format('truetype');
}

.cursive {
  font-family: "lato-regular";
}

[data-color-scheme="dark"] {
  color-scheme: dark;
}

[data-color-scheme="light"] {
  color-scheme: light;
}